* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.html {
    
}
.gia{
    width: 1300px;
    height: 200%;
    background-color: rgb(87, 189, 146);
    justify-content: space-between;
    border: 2px solid black;
    margin: auto;
    display: flex;
    font-size: 1.6rem;
    float: left;
}
#foto {
    width: 1300px;
    height: 200%;
    background-color: rgb(87, 189, 104);
    position: sticky;
    border: 2px solid black;
    margin: auto;
    float: left;
}
#fire{
    width: 1300px;
    height: 200%;
    background-color: rgb(219, 170, 79);
    position: sticky;
    border: 2px solid black;
    margin: auto;
    float: left;
}
#persona{
    width: 1300px;
    height: 50%;
    background-color: rgb(105, 238, 243);
    position: sticky;
    border: 2px solid black;
    margin: auto;
    float: left;
}
#water{
    width: 1300px;
    height: 50%;
    background-color: rgb(30, 106, 219);
    position: sticky;
    border: 2px solid black;
    margin: auto;
    float: left;
}
#cofe{
    width: 1300px;
    height: 50%;
    background-color: rgb(182, 117, 32);
    position: sticky;
    border: 2px solid black;
    margin: auto;
    float: left;
}
#giorno{
    width: 1300px;
    height: 50%;
    background-color: rgb(161, 60, 148);
    position: sticky;
    border: 2px solid black;
    margin: auto;
    float: left;
}
#coso{
    width: 1300px;
    height: 100%;
    background-color: rgb(21, 108, 129);
    border: 2px solid black;
}
li{
    font-size:50px;
    color: rgb(255, 239, 15);
}
h1{
    text-align: center;
    font-size:50px;
}
h2{
    font-size:46px;
}
img{
    display:block;
    margin:auto;
}
a{
    font-size:50px;
}
p{
    font-size: 40px;
}
